body {
    background-color: #D5E1EF;

    .container {
        width: 320px;
        background-color: #ffffff;
        border-radius: 20px;
        margin: 152px auto;
        padding: 16px;

        
        & > img {
            width: 288px;
            height: 288px;
            border-radius: 10px;
            align-items: center;
        }
        .description {
            & > h1 {
                color: $heading-color;
                font-family: 'Outfit', sans-serif;
                font-size: 22px;
                font-weight: 700;
                text-align: center;
                line-height: 28px;
                margin-top: 24px;    
                }
            & > p {
                width: 256px;
                color: $text-color;
                font-family: 'Outfit', sans-serif;
                font-size: 15px;
                font-weight: 400;
                text-align: center;
                line-height: 19px;
                letter-spacing: 0.1875px;
                margin: 16px auto;    
            }
        }
    }
}